*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* li {
  list-style: none outside none;
  text-decoration: none;
} */
ul {
  list-style-type: none;
  padding: 0;
}
li a {
  text-decoration: none;
  color: black;
}
:root {
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.13);
  /* primary/main color */
  --clr-darkblue: #040d33;
  --clr-darkgrey: #2c324a;
  --clr-background-1: #f0eff4;
  --clr-white: #fff;
  --clr-black: #000000;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.13);
  --max-width: 1170px;
  --bodyFont: Monospace;
}
a {
  text-decoration: none;
  color: black;
}
